@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-ExtraLight.eot");
  src:
    url("../fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-ExtraLight.woff") format("woff"),
    url("../fonts/TitilliumWeb-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Light.eot");
  src:
    url("../fonts/TitilliumWeb-Light.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Light.woff") format("woff"),
    url("../fonts/TitilliumWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Regular.eot");
  src:
    url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Regular.woff") format("woff"),
    url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-SemiBold.eot");
  src:
    url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"),
    url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Bold.eot");
  src:
    url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Bold.woff") format("woff"),
    url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Black.eot");
  src:
    url("../fonts/TitilliumWeb-Black.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Black.woff") format("woff"),
    url("../fonts/TitilliumWeb-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-LightItalic.eot");
  src:
    url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-LightItalic.woff") format("woff"),
    url("../fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Italic.eot");
  src:
    url("../fonts/TitilliumWeb-Italic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Italic.woff") format("woff"),
    url("../fonts/TitilliumWeb-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-BoldItalic.eot");
  src:
    url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff"),
    url("../fonts/TitilliumWeb-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
